WcfService_WPFClientStorageDb/WpfWcfKlijent/Connected Services/MagacinServiceReference/MagacinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MagacinService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61965/MagacinService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61965/MagacinService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61965/MagacinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMagacinService_VratiKategorije_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiKategorije" />
  </wsdl:message>
  <wsdl:message name="IMagacinService_VratiKategorije_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiKategorijeResponse" />
  </wsdl:message>
  <wsdl:message name="IMagacinService_VratiProizvode_InputMessage">
    <wsdl:part name="parameters" element="tns:VratiProizvode" />
  </wsdl:message>
  <wsdl:message name="IMagacinService_VratiProizvode_OutputMessage">
    <wsdl:part name="parameters" element="tns:VratiProizvodeResponse" />
  </wsdl:message>
  <wsdl:portType name="IMagacinService">
    <wsdl:operation name="VratiKategorije">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagacinService/VratiKategorije" message="tns:IMagacinService_VratiKategorije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagacinService/VratiKategorijeResponse" message="tns:IMagacinService_VratiKategorije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VratiProizvode">
      <wsdl:input wsaw:Action="http://tempuri.org/IMagacinService/VratiProizvode" message="tns:IMagacinService_VratiProizvode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMagacinService/VratiProizvodeResponse" message="tns:IMagacinService_VratiProizvode_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMagacinService" type="tns:IMagacinService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VratiKategorije">
      <soap:operation soapAction="http://tempuri.org/IMagacinService/VratiKategorije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VratiProizvode">
      <soap:operation soapAction="http://tempuri.org/IMagacinService/VratiProizvode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MagacinService">
    <wsdl:port name="BasicHttpBinding_IMagacinService" binding="tns:BasicHttpBinding_IMagacinService">
      <soap:address location="http://localhost:61965/MagacinService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>