WcfService_WPFClientStorageDb/WpfWcfKlijent/Connected Services/MagacinServiceReference/MagacinService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKategorija">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Kategorija" nillable="true" type="tns:Kategorija" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategorija" nillable="true" type="tns:ArrayOfKategorija" />
  <xs:complexType name="Kategorija">
    <xs:sequence>
      <xs:element minOccurs="0" name="KategorijaId" type="xs:int" />
      <xs:element minOccurs="0" name="NazivKategorije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpisKategorije" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Kategorija" nillable="true" type="tns:Kategorija" />
  <xs:complexType name="ArrayOfProizvod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proizvod" nillable="true" type="tns:Proizvod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProizvod" nillable="true" type="tns:ArrayOfProizvod" />
  <xs:complexType name="Proizvod">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cijena" type="xs:decimal" />
      <xs:element minOccurs="0" name="KategorijaId" type="xs:int" />
      <xs:element minOccurs="0" name="KolicinaNaLageru" type="xs:int" />
      <xs:element minOccurs="0" name="NazivProizvoda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProizvodId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proizvod" nillable="true" type="tns:Proizvod" />
</xs:schema>