WcfService_WPFClientStorageDb/WpfWcfKlijent/Connected Services/MagacinServiceReference/MagacinService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61965/MagacinService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" />
  <xs:element name="VratiKategorije">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiKategorijeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" minOccurs="0" name="VratiKategorijeResult" nillable="true" type="q1:ArrayOfKategorija" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiProizvode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VratiProizvodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceAplikacija.Models" minOccurs="0" name="VratiProizvodeResult" nillable="true" type="q2:ArrayOfProizvod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>