WebWcfServisHost_WPFClientEmployeeDb/WpfApp1/Connected Services/EmployeeServiceReference/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62705/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62705/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62705/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebWcfServisHost01.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_ReturnEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ReturnEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ChangeEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_ChangeEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="ReturnEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/ReturnEmployees" message="tns:IEmployeeService_ReturnEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/ReturnEmployeesResponse" message="tns:IEmployeeService_ReturnEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmployees" message="tns:IEmployeeService_InsertEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmployeesResponse" message="tns:IEmployeeService_InsertEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/ChangeEmployee" message="tns:IEmployeeService_ChangeEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/ChangeEmployeeResponse" message="tns:IEmployeeService_ChangeEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployee" message="tns:IEmployeeService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmployeeResponse" message="tns:IEmployeeService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/ReturnEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/InsertEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/ChangeEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:62705/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>