WebWCFServisHost_WebCoreClient_ConsoleClientStoreDb/ConsoleWCFKlijent/Connected Services/MagacinServiceReference/MagacinService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebWCFServisHost.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebWCFServisHost.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKategorijaCon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KategorijaCon" nillable="true" type="tns:KategorijaCon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKategorijaCon" nillable="true" type="tns:ArrayOfKategorijaCon" />
  <xs:complexType name="KategorijaCon">
    <xs:sequence>
      <xs:element minOccurs="0" name="KategorijaId" type="xs:int" />
      <xs:element minOccurs="0" name="NazivKategorije" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpisKategorije" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KategorijaCon" nillable="true" type="tns:KategorijaCon" />
  <xs:complexType name="ArrayOfProizvodCon">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProizvodCon" nillable="true" type="tns:ProizvodCon" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProizvodCon" nillable="true" type="tns:ArrayOfProizvodCon" />
  <xs:complexType name="ProizvodCon">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cijena" type="xs:decimal" />
      <xs:element minOccurs="0" name="KategorijaId" type="xs:int" />
      <xs:element minOccurs="0" name="KolicinaNaLageru" type="xs:int" />
      <xs:element minOccurs="0" name="NazivProizvoda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProizvodId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProizvodCon" nillable="true" type="tns:ProizvodCon" />
</xs:schema>